*{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.text{
    background-color: #DAD9E8;
    padding: 100px;
    font-size: 50px;
    font-weight: bold;
}
div #yo{
    font-size: 20px;
    font-style: italic;
}
#num{
    border: #39375B, solid;
    padding: 50px;
    background-color: #39375B;
}
div #op{
    padding-top: 50px;
    padding: 10px;
}
.lol{
    font-style: italic;
    padding: 50px;
}
button{
    font-size: 15px;
    margin-left: 15px;
    border: #39375B, solid;
    border-radius: 7px;
    background-color: #DAD9E8;
}